.Profile img{
    border: 12px solid  rgb(242, 245, 66);
   
    
}
.Shadow{
    box-shadow: 20px 20px 60px black;
}
hr {
    border: none;
    height: 5px;
    background: rgb(0, 0, 0);
}
.Custom{
    background-color:darkblue;
}
.Name h1 ,h2{
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     box-shadow: 20px 20px 30px black;
     background-color: transparent;
     object-fit: contain;
     border-radius: 10px;
     width: 40%;
     text-align: center;

}

@media(min-width :200px) and (max-width:800px){
   
span{
    font-size: 38px;
    
    
}
.Skills{
    display: none;
}
.Media2{
    background-color: darkblue;
    color: white;
   
}

.Custom-hide{
    display: none;
}

}